<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Coding4Fun.Phone.Controls" version="1.5.6" />
  <package id="SilverlightToolkitWP" version="4.2011.12.14" />
  <package id="Coding4Fun.Phone.Controls.Complete" version="1.5.6" />
  <package id="WriteableBitmapEx" version="0.9.8.6" />
</packages>